<h2> Spend </h2>

<label for="spend">Add Points:</label>

<select name="spend" id="spend">
  <option value="Dannon">DANNON</option>
  <option value="Miller Coors">MILLER COORs</option>
</select>

<button>Add Expenditure</button>

#     <p> Input: 
#     [
#         { "payer": "DANNON", "points": -100 },
#         { "payer": "UNILEVER", "points": -200 },
#         { "payer": "MILLER COORS", "points": -4,700 }
#         ]
#     </p>


#     <p> output:
#         {
#             "DANNON": 1000,
#             "UNILEVER": 0,
#             "MILLER COORS": 5300
#         }
# </p>